[Desktop Entry]
Name=ChromaSunder
Comment=Graphical pixel sorting for Fedora GNOME
Exec=chromasunder
Icon=io.github.the_blue_blurr.ChromaSunder
Terminal=false
Type=Application
Categories=Graphics;GTK;
StartupNotify=true
Keywords=pixel;sorting;glitch;image;

